# -----------------------------------------------------------------------------
# Drupal-related settings.
# -----------------------------------------------------------------------------
#
# Value of "drupal.root_absolute" is derived at runtime.
# @see OpenEuropa\TaskRunner\Commands\DrupalCommands::setRuntimeConfig()
drupal:
  # Basic Drupal site information.
  site:
    name: "KonsoliFIN.net"
    mail: "toimitus@konsolifin.net"
    profile: "standard"
    update: "false"
    locale: "en"
    sites_subdir: "default"

  # Administrator account information.
  account:
    name: "admin"
    password: "admin"
    mail: "toimitus@konsolifin.net"

  # Database settings.
  database:
    # @deprecated
    # The "type" option will be removed in version 1.0.0. Use "scheme".
    type: ""
    scheme: "mysql"
    host: "db"
    port: "3306"
    name: "drupal"
    user: "user"
    password: "password"
